* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.wrapper {
  max-width: 25em;
  padding: 2em;
  margin: auto;
}

.heading__superscript {
  font-size: 0.5em;
}

.form {
  margin-top: 2em;
}

/* Input Couplings (input + label) */

.input-coupling {
  margin-top: 1em;
  position: relative;
  display: flex;
  align-items: center;
}

.input-coupling__input {
  flex: 3;
  font-size: 1em;
  min-width: 0; /* Fix input not respecting flex property */
  padding: 0.75em;
  border: none;
  border-radius: 0.33em;
  background-color: #252525;
  color: white;
}

.input-coupling__label {
  flex: 1;
  margin-left: 0.75em;
  opacity: 0;
  transform: translateX(-1em);
  transition: opacity 0.2s ease-in, transform 0.2s ease-in;
}

.input-coupling--mutated .input-coupling__label {
  opacity: 0.66;
  transform: translateX(0);
}

/* MPG Output */

.mpg-output {
  font-size: 1.5em;
  display: inline-block;
  margin-top: 2em;
  font-weight: bold;
}
