* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  font-family: sans-serif;
  background-color: black;
  color: white;
}

.wrapper {
  max-width: 25em;
  padding: 2em;
  margin: auto;
}

.heading__superscript {
  font-size: 1rem;
}

.form {
  margin-top: 2em;
}

.form * {
  display: block;
}

/* Input Couplings (input + label) */

.input-coupling {
  margin-top: 1em;
  position: relative;
  display: flex;
  align-items: center;
}

.input-coupling__input {
  flex: 3;
  font-size: 1em;
  width: 100%;
  padding: 0.75em;
  border: none;
  border-radius: 0.33em;
  background-color: #222;
  color: white;
}

.input-coupling__label {
  flex: 1;
  margin-left: 0.75em;
  opacity: 0;
  transform: translateX(-1em);
}

.input-coupling--mutated .input-coupling__label {
  opacity: 0.66;
  transform: translateX(0);
  transition: opacity 0.1s ease-in, transform 0.2s ease-in-out;
}

/* ... */

.mpg-output {
  font-size: 1.5em;
  display: inline-block;
  margin-top: 2em;
  font-weight: bold;
}
